html {
	scroll-behavior: smooth;
}

.hover-ponter:hover{
	cursor: pointer;
}

.bg-element-top{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -10;
	width: 100%;
}

.quadragon{
	z-index: -5;
	width: 100%;	
}

.at-text-light{
	color: #fff;
	text-decoration: none;
}

.img-container{
	padding-top: 100%;
}

.img-container img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.developer-img{
	width: 100%;
	height: 100%;
}

@media (min-width: 768px) {
	.quadragon{
		width: 100%;
	}
	.developer-img{
		width: 100%;
		height: 100%;
	}
	.social-icon-holder{
		margin-top: 0;
	}
}


@media (min-width: 992px) {
	.quadragon{
		width: 50%
	}
	.developer-img{
		width: 70%;
	}
	.social-icon-holder{
		margin-top: 90px;
	}
}


@media (min-width: 1200px) {
	.quadragon{
		width: 50%;
	}
	.developer-img{
		width: 70%;
	}
	.social-icon-holder{
		margin-top: 90px;
	}
}

.ganp{
	background-image: linear-gradient(to right, #36D1DC , #FF317A);
	border-radius: 10px;
	padding: 1rem;
	margin-top: 50px;
	margin-bottom: 50px;
}

.overflow-y-auto {
	overflow-y: auto;
}

.max-vh-70 {
	max-height: 70vh;
}


.theme-bg-primary {
	background-color: #222831;
}
.theme-bg-secondary {
	background-color: #393E46;
}