.bg-element-top{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -10;
	width: 100%;
}
.bg-element-bottom{
	position: absolute;
	bottom: : 0;
	right: : 0;
	margin-top: calc(-100vh + 10%);
	z-index: -10;
	width: 100%;
}
.quadragon{
	z-index: -5;
	width: 100%;	
}
.developer{
	width: 90%;
}

.social-icon-holder{
	margin-top: 0;
}


@media (min-width: 576px) {
	.quadragon{
		width: 100%;
	}
	.developer{
		width: 90%;
	}
	.social-icon-holder{
		margin-top: 0;
	}
}


@media (min-width: 768px) {
	.quadragon{
		width: 100%;
	}
	.developer{
		width: 90%;
	}
	.social-icon-holder{
		margin-top: 0;
	}
}


@media (min-width: 992px) {
	.quadragon{
		width: 50%
	}
	.developer{
		width: 70%;
	}
	.social-icon-holder{
		margin-top: 90px;
	}
}


@media (min-width: 1200px) {
	.quadragon{
		width: 50%;
	}
	.developer{
		width: 70%;
	}
	.social-icon-holder{
		margin-top: 90px;
	}
}

.ganp{
	background-image: linear-gradient(to right, #36D1DC , #FF317A);
	border-radius: 10px;
	padding: 1rem;
	margin-top: 50px;
	margin-bottom: 50px;
}
